@charset "UTF-8";
@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: auto;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: auto;
  font-weight: 500;
}
.apartments-wrapper {
  position: absolute;
  z-index: 999;
  background: #f4f6f8;
  width: 100%;
  justify-content: space-between;
}
.apartments-wrapper .content-outer {
  width: 100%;
}
.apartments-wrapper .content-outer .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apartments-wrapper .content-outer .content-wrapper .top-menu {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
.apartments-wrapper .content-outer .content-wrapper .apartments {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item {
  background: white;
  border-radius: 15px;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item:nth-child(odd) {
  margin-right: 2em;
  flex: 1;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .left-side {
  padding: 1em;
  border-right: 3px solid #f4f6f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .left-side .image-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .left-side .image-wrapper .image {
  padding: 0.5em;
  width: 200px;
  height: 200px;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .title {
  padding: 30px 15px 1.5em;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .characters {
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .characters .character-item {
  padding-right: 10px;
  padding-bottom: 10px;
  margin-right: 1em;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .characters .character-item .character-title {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5em;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .characters .character-item .character-value {
  font-family: "Montserrat SemiBold";
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .bottom-wrapper {
  border-top: 3px solid #f4f6f8;
  display: flex;
  justify-content: center;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .bottom-wrapper .price {
  padding: 15px;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .bottom-wrapper .price .timer {
  padding-bottom: 0.5em;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .bottom-wrapper .price .timer span {
  color: #c84252;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .bottom-wrapper .price .price-value {
  font-family: "Montserrat ExtraBold";
  font-size: 1.5em;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .bottom-wrapper .price .sale span {
  font-family: "Montserrat SemiBold";
  color: #c84252;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .bottom-wrapper .follow {
  display: none;
  padding: 0 15px;
  border-left: 3px solid #f4f6f8;
  justify-content: center;
  align-items: center;
}
.apartments-wrapper .content-outer .content-wrapper .apartments .apartments-item .right-side .bottom-wrapper .follow .follow-item {
  width: 50px;
}
.apartments-wrapper .content-outer .content-wrapper .pagination {
  margin-top: 2em;
  margin-bottom: 5em;
  display: flex;
  justify-content: space-between;
  width: 240px;
}
.apartments-wrapper .content-outer .content-wrapper .pagination .prev-page, .apartments-wrapper .content-outer .content-wrapper .pagination .next-page {
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid black;
  width: 35px;
  text-align: center;
}
.apartments-wrapper .content-outer .content-wrapper .pagination .first {
  width: 40px;
  margin-right: 5px;
}
.apartments-wrapper .content-outer .content-wrapper .pagination .last {
  width: 40px;
  margin-left: 5px;
}
.apartments-wrapper .content-outer .content-wrapper .pagination .page {
  padding: 0.5em;
}
.apartments-wrapper .content-outer .content-wrapper .logo {
  left: 2em;
  bottom: 4em;
  position: fixed;
  z-index: 999;
  display: flex;
  width: 80px;
  align-items: flex-end;
}
.apartments-wrapper .content-outer .content-wrapper .logo span {
  margin-left: 0.6em;
  font-size: 1.4em;
}
.apartments-wrapper .content-outer .content-wrapper .back-btn-wrapper {
  right: 2em;
  bottom: 4em;
  position: fixed;
  height: 50px;
  width: 50px;
  z-index: 999;
}
.apartments-wrapper .content-outer .content-wrapper .back-btn-wrapper .back-btn {
  margin-top: 1em;
  position: fixed;
  z-index: 999;
  display: block;
  border-radius: 3px;
  width: 40px;
  height: 4px;
  background: black;
}
.apartments-wrapper .content-outer .content-wrapper .back-btn-wrapper .back-btn::before {
  display: block;
  content: "";
  margin-top: -15px;
  border-radius: 3px;
  width: 40px;
  height: 4px;
  background: black;
}
.apartments-wrapper .content-outer .content-wrapper .back-btn-wrapper .back-btn::after {
  display: block;
  content: "";
  margin-top: 26px;
  border-radius: 3px;
  width: 25px;
  height: 4px;
  background: black;
}
.apartments-wrapper .sidebar-wrapper {
  position: fixed;
  right: 0;
  height: 100vh;
  display: flex !important;
}
.apartments-wrapper .sidebar-wrapper .sidebar-title {
  text-align: center;
  width: 40px;
  font-size: 1.5em;
  font-weight: 600;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 100vh;
}
.apartments-wrapper .sidebar-wrapper .sidebar-title .side-icon {
  width: 40px;
  transform: rotate(90deg);
}
.apartments-wrapper .sidebar-wrapper .sidebar {
  transition: 0.3s;
  padding: 0;
  width: 0;
  display: block;
  height: 100vh;
  background: white;
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.3);
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner {
  display: none;
  height: 100%;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .filter-wrapper {
  margin-bottom: 1em;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .filter-wrapper .filter-title {
  font-weight: bold;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .filter-wrapper .filter-title span {
  opacity: 0.5;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .filter-wrapper .rooms {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 1em auto 0;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .filter-wrapper .rooms .room-item {
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 1em 0.5em;
  border: 1px solid black;
  border-radius: 10px;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .filter-wrapper .rooms [type=checkbox]:checked + .room-item {
  background: black;
  color: white;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters {
  display: flex;
  justify-content: space-between;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper {
  align-items: center;
  display: flex;
  margin: 0.5em 0;
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper [type=checkbox]:not(:checked),
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper [type=checkbox]:checked {
  position: absolute;
  left: -9999px;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper [type=checkbox]:not(:checked) + label,
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper [type=checkbox]:checked + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper [type=checkbox]:not(:checked) + label:before,
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper [type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #aaa;
  background: #ffffff;
  border-radius: 5px;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper [type=checkbox]:not(:checked) + label:after,
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper [type=checkbox]:checked + label:after {
  content: "✔";
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 14px;
  color: #000000;
  transition: all 0.2s;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper [type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper .checkbox {
  width: 18px;
  height: 18px;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .filters-outer .split-filters .checkbox-filters .check-wrapper label {
  font-size: 14px;
  margin-left: 10px;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .close-filters-button {
  position: fixed;
  margin-left: -100px;
  height: 50px;
  width: 50px;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .close-filters-button:after {
  content: "";
  position: fixed;
  height: 3px;
  width: 40px;
  background: black;
  transform: rotate(-45deg);
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .close-filters-button:before {
  content: "";
  position: fixed;
  height: 3px;
  width: 40px;
  background: black;
  transform: rotate(45deg);
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.apartments-wrapper .sidebar-wrapper .sidebar .sidebar-inner .buttons-wrapper .filter-button {
  padding: 1em;
  border-radius: 15px;
  background: white;
}
.apartments-wrapper .sidebar-wrapper .sidebar .show-sidebar-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.apartments-wrapper .sidebar-wrapper .open-sidebar {
  padding: 1em 2em;
  width: 30em;
}

/*# sourceMappingURL=apartments.css.map */
