@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: auto;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: auto;
  font-weight: 500;
}

.apartments-wrapper{
  position: absolute;
  z-index: 999;
  background: #f4f6f8;
  width: 100%;
  //display: flex;
  justify-content: space-between;

  .content-outer{
    width: 100%;

    .content-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;

      .top-menu{
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 50px 0;

        .menu-item{

        }
      }
      .apartments{
        margin-top: 5em;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .apartments-item{
          background: white;
          border-radius: 15px;
          display: flex;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          margin-bottom: 2em;

          &:nth-child(odd){
            margin-right: 2em;
            flex: 1;
          }

          .left-side{
            padding: 1em;
            border-right: 3px solid #f4f6f8;
            display: flex;
            flex-direction: column;
            align-items: center;

            .article{

            }
            .image-wrapper{
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;

              .image{
                padding: .5em;
                width: 200px;
                height: 200px;
              }
            }
          }
          .right-side{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title{
              //padding-left: 15px;
              padding: 30px 15px 1.5em;
            }
            .characters{
              padding-left: 15px;
              //border-bottom: 3px solid #f4f6f8;
              display: flex;
              flex-wrap: wrap;
              width: 300px;
              //display: grid;
              //grid-template-columns: 1fr 1fr 1fr;
              //padding-bottom: 1.5em;

              .character-item{
                padding-right: 10px;
                padding-bottom: 10px;
                margin-right: 1em;

                .character-title{
                  font-size: .9em;
                  color: rgba(0, 0, 0, 0.3);
                  margin-bottom: .5em;
                }
                .character-value{
                  font-family: 'Montserrat SemiBold';
                }
              }
            }
            .bottom-wrapper{
              border-top: 3px solid #f4f6f8;
              //padding-left: 15px;
              //height: 100%;
              display: flex;
              justify-content: center;

              .price{
                padding: 15px;
                .timer{
                  padding-bottom: .5em;
                  span{
                    color: #c84252;
                  }
                }
                .price-value{
                  font-family: 'Montserrat ExtraBold';
                  font-size: 1.5em;
                  //padding-bottom: .5em;
                }
                .sale{

                  span{
                    font-family: 'Montserrat SemiBold';
                    color: #c84252;
                  }
                }
              }
              .follow{
                display: none;
                //display: flex;
                padding: 0 15px;
                border-left: 3px solid #f4f6f8;
                justify-content: center;
                align-items: center;

                .follow-item{
                  width: 50px;
                }
              }
            }
          }
        }
      }

      .pagination{
        margin-top: 2em;
        margin-bottom: 5em;
        display: flex;
        justify-content: space-between;
        width: 240px;

        .prev-page, .next-page{
          padding: .5em;
          border-radius: 10px;
          border: 1px solid black;
          width: 35px;
          text-align: center;
        }
        .first{
          width: 40px;
          margin-right: 5px;
        }
        .last{
          width: 40px;
          margin-left: 5px;
        }
        .page{
          padding: .5em;
        }
      }

      .logo{
        left: 2em;
        bottom: 4em;
        position: fixed;
        z-index: 999;
        display: flex;
        width: 80px;
        align-items: flex-end;

        span{
          margin-left: .6em;
          font-size: 1.4em;
        }
      }
      .back-btn-wrapper{
        right: 2em;
        bottom: 4em;
        position: fixed;
        height: 50px;
        width: 50px;
        z-index: 999;
        //background: #c84252;

        .back-btn{
          //right: 2em;
          //bottom: 4em;
          margin-top: 1em;
          position: fixed;
          z-index: 999;
          display: block;
          border-radius: 3px;
          width: 40px;
          height: 4px;
          background: black;

          &::before{
            display: block;
            content: '';
            margin-top: -15px;
            border-radius: 3px;
            width: 40px;
            height: 4px;
            background: black;
          }
          &::after{
            display: block;
            content: '';
            margin-top: 26px;
            border-radius: 3px;
            width: 25px;
            height: 4px;
            background: black;
          }
        }
      }
    }
  }
  .sidebar-wrapper{
    position: fixed;
    right: 0;
    height: 100vh;
    display: flex !important;

    .sidebar-title{
      text-align: center;
      width: 40px;
      font-size: 1.5em;
      font-weight: 600;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      height: 100vh;

      .side-icon{
        width: 40px;
        transform: rotate(90deg);
      }
    }

    .sidebar{
      transition: .3s;
      padding: 0;
      width: 0;
      display: block;
      height: 100vh;
      background: white;
      box-shadow: -5px 0 20px rgba(0, 0, 0, 0.3);

      .sidebar-inner{
        display: none;
        height: 100%;


        .filters-outer{

          .filter-wrapper{
            margin-bottom: 3em;
            .filter-title{
              font-weight: bold;

              span{
                opacity: .5;
              }
            }
            .filter-input{

            }

            .rooms{
              display: flex;
              justify-content: space-between;
              width: 350px;
              margin: 2em auto 0;

              .room-item{
                display: block;
                text-align: center;
                width: 50px;
                height: 50px;
                padding: 1em .5em;
                border: 1px solid black;
                border-radius: 10px;
              }
              [type="checkbox"]:checked + .room-item{
                background: black;
                color: white;
              }
            }
          }

          .split-filters{
            display: flex;
            justify-content: space-between;

            .checkbox-filters{
              margin-top: 1em;
              display: flex;
              flex-direction: column;

              .check-wrapper{
                align-items: center;
                display: flex;
                margin: .5em 0;

                /* Base for label styling */
                [type="checkbox"]:not(:checked),
                [type="checkbox"]:checked {
                  position: absolute;
                  left: -9999px;
                }
                [type="checkbox"]:not(:checked) + label,
                [type="checkbox"]:checked + label {
                  position: relative;
                  padding-left: 40px;
                  cursor: pointer;
                }

                /* checkbox aspect */
                [type="checkbox"]:not(:checked) + label:before,
                [type="checkbox"]:checked + label:before {
                  content: '';
                  position: absolute;
                  left:0;
                  //top: 2px;
                  width: 18px;
                  height: 18px;
                  border: 1px solid #aaa;
                  background: #ffffff;
                  border-radius: 5px;
                }
                /* checked mark aspect */
                [type="checkbox"]:not(:checked) + label:after,
                [type="checkbox"]:checked + label:after {
                  content: '✔';
                  position: absolute;
                  top: 0;
                  left: 5px;
                  font-size: 14px;
                  color: #000000;
                  transition: all .2s;
                }
                /* checked mark aspect changes */
                [type="checkbox"]:not(:checked) + label:after {
                  opacity: 0;
                  transform: scale(0);
                }

                .checkbox{
                  width: 18px;
                  height: 18px;
                }
                label{
                  font-size: 14px;
                  margin-left: 10px;
                }
              }
            }
          }
        }

        .close-filters-button{
          position: fixed;
          margin-left: -100px;
          //top: 4em;
          //left: 2em;
          //position: fixed;
          height: 50px;
          width: 50px;

          &:after {
            content: '';
            position: fixed;
            height: 3px;
            width: 40px;
            background: black;
            transform: rotate(-45deg);
          }
          &:before {
            content: '';
            position: fixed;
            height: 3px;
            width: 40px;
            background: black;
            transform: rotate(45deg);
          }
        }

        .buttons-wrapper{
          display: flex;
          justify-content: space-between;
          width: 300px;

          .filter-button{
            padding: 1em;
            border-radius: 15px;
            background: white;
          }
        }
      }
      .show-sidebar-inner{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }
    .open-sidebar{
      padding: 2em;
      width: 30em;
    }
  }
}
