.gallery-wrapper{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #243b4f;
  position: fixed;
  width: 100vw;
  height: 100vh;


  .back-button-modal{
    z-index: 999;
    position: fixed;
    display: flex;
    top: 20px;
    left: 50px;
    color: white;

    div{
      position: relative;
      width: 20px;
      height: 2px;
      background-color: #ffffff;
      box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
      display: block;
      right: 10px;
      top: .5em;

      &:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 2px;
        top: 2px;
        right: 15px;
        background-color: #ffffff;
        box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
        transform: rotate(45deg);
      }
      &:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 2px;
        top: -2px;
        right: 15px;
        background-color: #ffffff;
        transform: rotate(-45deg);
      }
      &:after, :before {
        box-sizing: border-box;
      }
    }
  }

  .gallery{
    .gallery-inner{
      position: fixed;
      display: flex;
      overflow: hidden;
      left: 0;
      //transition: .2s;
      background: #243b4f;

      .gallery-item{
        overflow: hidden;
        height: 100vh;
        display: flex;
        justify-content: center;
        width: 100vw;

        .gallery-image{
          pointer-events: none;
          user-select: none;
          height: 100%;
          //width: 100vw;
        }
      }
    }
  }
  .gallery-footer{
    padding: 2em 3em;
    color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;

    .logo{
      display: flex;
      align-items: flex-end;
      width: 50px;

      .logo-image{
        display: flex;
        width: 80px;
        align-items: flex-end;
      }
      span{
        margin-left: .6em;
        font-size: 1.4em;
      }
    }

    .buttons{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 250px;

      .numbers{
        text-align: center;
        height: 50px;
        width: 100px;
        font-size: 1.5em;
        margin-top: 20px;
      }

      .prev{
        cursor: pointer;
        position: relative;
        width: 80px;
        height: 50px;
        margin: 20px 20px;
        background: white;
        border-radius: 50%;
        opacity: .6;

        div{
          position: relative;
          top: 24px;
          width: 20px;
          height: 2px;
          background-color: #000000;
          box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
          left: 16px;
          display: block;

          &:before {
            content: '';
            position: absolute;
            width: 8px;
            height: 2px;
            top: 2px;
            right: 15px;
            background-color: #000000;
            box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
            transform: rotate(45deg);
          }
          &:after {
            content: '';
            position: absolute;
            width: 8px;
            height: 2px;
            top: -2px;
            right: 15px;
            background-color: #000000;
            transform: rotate(-45deg);
          }
          &:after, :before {
            box-sizing: border-box;
          }
        }
      }
      .next{
        cursor: pointer;
        position: relative;
        width: 80px;
        height: 50px;
        margin: 20px 20px;
        background: white;
        border-radius: 50%;
        opacity: .6;

        div{
          position: relative;
          top: 24px;
          width: 20px;
          height: 2px;
          background-color: #000000;
          box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
          left: 15px;
          display: block;

          &:before {
            content: '';
            position: absolute;
            width: 8px;
            height: 2px;
            top: 2px;
            right: -2px;
            background-color: #000000;
            box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
            transform: rotate(-45deg);
          }
          &:after {
            content: '';
            position: absolute;
            width: 8px;
            height: 2px;
            top: -2px;
            right: -2px;
            background-color: #000000;
            transform: rotate(45deg);
          }
          &:after, :before {
            box-sizing: border-box;
          }
        }
      }
    }

  .back-btn-wrapper{
    //background: red;
    width: 50px;
    height: 50px;

    .back-button{
      margin-top: 1em;
      position: fixed;
      display: block;
      border-radius: 3px;
      width: 40px;
      height: 4px;
      background: #ffffff;

      &::before{
        display: block;
        content: '';
        margin-top: -15px;
        border-radius: 3px;
        width: 40px;
        height: 4px;
        background: #ffffff;
      }
      &::after{
        display: block;
        content: '';
        margin-top: 26px;
        border-radius: 3px;
        width: 25px;
        height: 4px;
        background: #ffffff;
      }
    }
  }
  }
}

